<!DOCTYPE html>
<html>

    <head>
        <meta name=”robots” content=”noindex” />
        <title>404 not found</title>
        <link rel="stylesheet" href="/css/style.css">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4006009538073290"
            crossorigin="anonymous"></script>
    </head>

    <body>
        <h1>404 Not Found</h1>
        <p>お探しのページが見つかりませんでした<a href="/">サイトTOP</a>へ戻る</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yduFuBC4whg" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </body>

</html>