<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="ja">
<head>
    <title>URL短縮サービス｜プレミアムプラン購入</title>
    <meta name="description" content="URLを短縮するサイトです。">
    <meta name="keywords" content="短縮,URL,URL短縮,短縮URL,tiny-url.cf">    
    <meta name="theme-color" content="#6E3DD9">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script type="module" src="js.cookie.mjs"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=JPY" data-sdk-integration-source="button-factory"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <!--<title>Dashboard Sidebar Menu</title>--> 
</head>
<body>
    <div class="overlay">
        <div class="btn_area">
            <p><a href="/policy">利用規約</a>をよくお読みいただいたうえで利用規約に同意のボタンをお押しください</p>
            <button>利用規約に同意</button>
        </div>
    </div>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <a href="/"><img src="/images/favicon.ico" alt=""></a>
                </span>

                <div class="text logo-text">
                    <span class="name">短縮URLサービス</span>
                    <span class="profession">Tiny-URL</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">Revenue</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notifications</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon' ></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-wallet icon' ></i>
                            <span class="text nav-text">Premium</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#" onclick="log<%= log %>()">
                        <i class='bx bx-log-<%= log %> icon' ></i>
                        <span class="text nav-text" >Log<%= log %></span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">
        <% if (!premiu){%>
            <div class="text">あなたはフリープランです</div>
        <% }else{ %>
            <div class="text">あなたはプレミアムプランです</div>
        <% } %>
        <% if (name) { %>
            <h2 class="text">こんにちは<%=name%>さん:)</h2>
        <% } %>
<div id="smart-button-container">
      <div style="text-align: center;">
        <div style="margin-bottom: 1.25rem;">
          <p></p>
          <select id="item-options"><option value="1か月" price="20">1か月 - 20 JPY</option><option value="1年" price="20">1年 - 200 JPY</option></select>
          <select style="visibility: hidden" id="quantitySelect"></select>
        </div>
      <div id="paypal-button-container"></div>
      </div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=JPY" data-sdk-integration-source="button-factory"></script>
    <script>
      function initPayPalButton() {
        var shipping = 0;
        var itemOptions = document.querySelector("#smart-button-container #item-options");
    var quantity = parseInt();
    var quantitySelect = document.querySelector("#smart-button-container #quantitySelect");
    if (!isNaN(quantity)) {
      quantitySelect.style.visibility = "visible";
    }
    var orderDescription = '';
    if(orderDescription === '') {
      orderDescription = 'Item';
    }
    paypal.Buttons({
      style: {
        shape: 'pill',
        color: 'blue',
        layout: 'vertical',
        label: 'buynow',
        
      },
      createOrder: function(data, actions) {
        var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
        var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
        var tax = (0 === 0 || false) ? 0 : (selectedItemPrice * (parseFloat(0)/100));
        if(quantitySelect.options.length > 0) {
          quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
        } else {
          quantity = 1;
        }

        tax *= quantity;
        tax = Math.round(tax * 100) / 100;
        var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
        priceTotal = Math.round(priceTotal * 100) / 100;
        var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;

        return actions.order.create({
          purchase_units: [{
            description: orderDescription,
            amount: {
              currency_code: 'JPY',
              value: priceTotal,
              breakdown: {
                item_total: {
                  currency_code: 'JPY',
                  value: itemTotalValue,
                },
                shipping: {
                  currency_code: 'JPY',
                  value: shipping,
                },
                tax_total: {
                  currency_code: 'JPY',
                  value: tax,
                }
              }
            },
            items: [{
              name: selectedItemDescription,
              unit_amount: {
                currency_code: 'JPY',
                value: selectedItemPrice,
              },
              quantity: quantity
            }]
          }]
        });
      },
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {
          
          // Full available details
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

          // Show a success message within this page, e.g.
          const element = document.getElementById('paypal-button-container');
          element.innerHTML = '';
          element.innerHTML = '<h3>Thank you for your payment!</h3>';

          // Or go to another URL:  actions.redirect('thank_you.html');

        });
      },
      onError: function(err) {
        console.log(err);
      },
    }).render('#paypal-button-container');
  }
  initPayPalButton();
    </script>
    
    </section>

    <script>
        const body = document.querySelector('body'),
         sidebar = body.querySelector('nav'),
         toggle = body.querySelector(".toggle"),
         modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");
        
        function login(){

            document.location = "https://discord.com/api/oauth2/authorize?client_id=952497517487071292&redirect_uri=https%3A%2F%2Ftiny-url.cf%2Flogin&response_type=code&scope=identify";
        }

       function login(){

            document.location = "https://discord.com/api/oauth2/authorize?client_id=952497517487071292&redirect_uri=https%3A%2F%2Ftiny-url.cf%2Flogin&response_type=code&scope=identify";
        }
        
        
        function copy() {
            // コピー対象をJavaScript上で変数として定義する
            var copyTarget = document.getElementById("copyTarget_tiny");

            // コピー対象のテキストを選択する
            copyTarget.select();

            // 選択しているテキストをクリップボードにコピーする
            document.execCommand("Copy");

        }
        

        const cookieValue = document.cookie
          .split('; ')
          .find(row => row.startsWith('mode'))
          .split('=')[1];
        
        if (cookieValue == 'dark'){
            body.classList.toggle("dark");
            modeText.innerText = "Dark mode";
        }else{
            modeText.innerText = "Dark mode";
            console.log(cookieValue)
        }

        toggle.addEventListener("click" , () =>{
            sidebar.classList.toggle("close");
        })
        
        modeSwitch.addEventListener("click" , () =>{
            body.classList.toggle("dark");
            
            if(body.classList.contains("dark")){
                modeText.innerText = "Light mode";
            }else{
                modeText.innerText = "Dark mode";
                
            }
        });
        $(function(){
            $(".overlay").show();
            $.cookie('policy') == 'on'?$(".overlay").hide():$(".overlay").show();
            $(".btn_area button").click(function(){
                $(".overlay").fadeOut();
                $.cookie('policy', 'on', { expires: 30,path: '/' }); //cookieの保存
            });
        });
    

    </script>

</body>
</html>
