<!DOCTYPE html>
<html>
    <head>
        <title>URL短縮サービス｜ログイン</title>
        <meta name="description" content="URLを短縮するサイトのログインページです。">
        <meta name="keywords" content="短縮,URL,URL短縮,短縮URL">    
        <meta name="theme-color" content="#6E3DD9">
        <link rel="stylesheet" href="/css/login.css">        
    </head>
    <body>
        <h1>ログインページ</h1>
        <div class="type">
            <div class="discord">
                <h2><a href="https://discord.com/api/oauth2/authorize?client_id=952497517487071292&redirect_uri=https%3A%2F%2Ftiny-url.cf%2Flogin&response_type=code&scope=identify">discordでログイン</a></h2>
            </div>
            <div class="google">
                <h2><a href="">googleでログイン</a></h2>
            </div>
            <div class="create">
                <h2><a href="/register">URL短縮サービスアカウント</a></h2>
            </div>
        </div>
    </body>
</html>