<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="ja">

<head>
    <title>URL短縮サービス</title>
    <meta name="description" content="URLを短縮するサイトです。">
    <meta name="keywords" content="短縮,URL,URL短縮,短縮URL,orrn.net">
    <meta name="theme-color" content="#6E3DD9">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4006009538073290"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <!--<title>Dashboard Sidebar Menu</title>-->
</head>

<body>

    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <a href="/"><img src="/images/favicon.ico" alt=""></a>
                </span>

                <div class="text logo-text">
                    <span class="name">短縮URLサービス</span>
                    <span class="profession">Tiny-URL</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">home</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/api/reference">
                            <i class='bx bx-bar-chart-alt-2 icon'></i>
                            <span class="text nav-text">API</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notifications</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon'></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="buy">
                            <i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Premium</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/login">
                        <i class='bx bx-log-in icon'></i>
                        <span class="text nav-text">Login</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>

    <section class="home">
        <h1 class="text">ユーザー登録</h1>

        <div>
            <form method="POST" action="/register">
                <p class="text"><input class="form" id="formstyle" type="name" name="name" placeholder="ユーザー名" required>
                </p>
                <p class="text"><input class="form" id="formstyle" type="email" name="email" placeholder="メールアドレス"
                        required></p>
                <p class="text"><input class="form" id="formstyle" type="password" name="password" placeholder="パスワード"
                        required></p>
                <p class="text"><input class="form" id="formstyle" type="password" name="password_confirmation"
                        placeholder="パスワード確認" required></p>
                <div class="h-captcha" data-sitekey="0c982011-6731-452a-8b2b-07aaf2151a20" data-callback="callback">
                </div>
                <p><input class="form subm" id="buttonstyle" type="submit" value="登録" disabled /></p>
            </form>
        </div>
    </section>

    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");

        function callback() {
            const element = document.querySelector('subm');
            element.removeAttribute('disabled');
        }

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })

        try {
            const cookieValue = document.cookie
                .split('; ')
                .find(row => row.startsWith('mode'))
                .split('=')[1];
            if (cookieValue == 'dark') {
                body.classList.toggle("dark");
                modeText.innerText = "Dark mode";
            } else {
                modeText.innerText = "Light mode";
                console.log(cookieValue)
            }
        } catch (error) {
            document.cookie = 'mode=light; max-age=604800';
        }




        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                document.cookie = 'mode=light"; max-age=0';
                modeText.innerText = "Light mode";
                document.cookie = 'mode = dark; max-age=604800';
            } else {
                document.cookie = 'mode = dark"; max-age=0';
                modeText.innerText = "Dark mode";
                document.cookie = 'mode=light; max-age=604800';

            }
        });
        $(function () {
            $(".overlay").show();
            $.cookie('policy') == 'on' ? $(".overlay").hide() : $(".overlay").show();
            $(".btn_area button").click(function () {
                $(".overlay").fadeOut();
                $.cookie('policy', 'on', { expires: 30, path: '/' }); //cookieの保存
            });
        });
    </script>

</body>

</html>