/* CSS Document */
/*-------------------------------*/
* {
	text-align: left;
	list-style: none outside;
	font-size: 100%;
}

html {
	margin: 0;
	padding: 0;
	font: normal normal normal 100% sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-family: "ŸàƒSƒVƒbƒN", YuGothic, "ƒƒCƒŠƒI", Meiryo, "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", Arial, Helvetica, sans-serif;
	color: #434343;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
	font-weight: 500;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
em,
img {
	margin: 0;
	padding: 0;
	border: none;
}

th,
td {
	vertical-align: top;
}

a:link,
a:visited {
	color: #5db5bd;
}

a:hover {
	color: #5db5bd;
	text-decoration: none;
}

a.newwin {
	padding: 0 20px 0 0;
	background: url(../images/icon_newwin.gif) no-repeat 100% 50%;
}

/**/
/*-------------------------------*/
#wrapBody,
#wrapHome,
#wrapHead,
#wrapFoot {
	clear: both;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#wrapBody:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}

.eleUnit {
	position: relative;
	margin: 0 auto;
	width: 960px;
}

/*-------------------------------*/
#wrapContents {
	float: left;
	margin: 50px 0 0 0;
	width: 760px;
}

#wrapContents:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}

/*-------------------------------*/
#wrapNav {
	float: right;
	margin: 50px 0 0 0;
	width: 130px;
}

#wrapNav dt {
	margin: 0;
}

#wrapNav dt.line {
	padding-top: 20px;
	border-top: 1px solid #acbd5d;
}

#wrapNav dd {
	margin: 20px 0;
}

#wrapNav a {
	font-size: 0.95em;
}

#wrapNav img {
	display: block;
}

/*-------------------------------*/
p.intro {
	font-size: 0.95em;
	line-height: 140%;
	margin: 0 0 30px 0;
}

p.date {
	text-align: right;
	font-size: 0.95em;
	line-height: 140%;
	margin: 0 0 30px 0;
}

p.naked {
	margin: 15px 0;
	font-size: 0.95em;
	line-height: 140%;
	text-align: justify;
	text-justify: distribute;
}

ul.naked,
ol.naked {
	margin: 20px 0 20px 30px;
}

ul.naked li {
	list-style: outside disc;
	font-size: 0.95em;
	line-height: 140%;
}

ol.naked li {
	margin: 0 0 5px 0;
	list-style: outside decimal;
	font-size: 0.95em;
	line-height: 140%;
}

ul.naked li+li,
ol.naked li+li {
	margin-top: 15px;
}

ol.naked.abc li {
	list-style: outside lower-alpha;
}

h1 {
	margin: 0 0 50px 0;
	font-size: 2em;
	line-height: 140%;
}

h2 {
	margin: 50px 0 40px 0;
	font-size: 1.5em;
	line-height: 140%;
	color: #202231;
}

h3 {
	margin: 25px 0;
	font-size: 1.2em;
	line-height: 140%;
	color: #202231;
}

table.bsc th {
	padding: 10px 10px 10px 0;
	font-size: 0.95em;
	line-height: 140%;
}

table.bsc td {
	padding: 10px;
	font-size: 0.95em;
	line-height: 140%;
}

table.bsc td ul {
	margin: 0 0 0 20px;
}

table.bsc td ul li {
	margin: 0 0 5px 0;
	list-style: outside disc;
}

/*-------------------------------*/
.swp {}

/*-------------------------------*/
/*end*/


/* CSS Document */
/*-------------------------------*/
#wrapHead {
	background: #5db5bd;
	height: 130px;
}

#wrapHead .eleUnit {
	position: relative;
	background: #5db5bd;
	height: 130px;
}

p.siteName {
	padding: 35px 0 0 0;
}

p.navHome {
	position: absolute;
	top: 20px;
	right: 0;
}

/*-------------------------------*/
#wrapFoot {
	margin: 40px 0 0 0;
	background: #ffffff;
}

#wrapFoot .eleUnit {
	border-top: 1px solid #dedede;
	padding: 40px 0;
}

#wrapFoot .eleUnit:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}

#wrapFoot ul {
	float: left;
	height: 60px;
}

#wrapFoot ul li {
	padding: 0 20px 0 0;
	display: inline;
	font-size: 0.9em;
	line-height: 140%;
}

#wrapFoot p {
	float: right;
}

#wrapFoot dl.siteLink {
	clear: both;
	height: 60px;
}

#wrapFoot dl.siteLink dd {
	float: right;
	padding: 20px 0;
	font-size: 0.9em;
	margin: 0 0 0 20px;
}

/*-------------------------------*/
/*end*/